<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script>
        $(document).ready(function() {            
            $("#photo_url").blur(function() {
                var photoUrl = $("#photo_url").val();
                
                $.get(photoUrl, function(data, statusText, xhr) {
                    if ( photoUrl ) {
                        $("#post-preview-img").attr("src", photoUrl);
                        $("#post-preview").show();
                    }
                    else {
                        $("#post-preview").hide();
                    }
                });
            });          
        });
    </script>

</head>

<main role=main>
    <h2>New Post</h2>
    <form method="POST" action="/finstagram_posts/new">
        <div class="form-group">
            <label for="photo_url">Photo URL:</label>
            <input type="text" id="photo_url" name="photo_url" />
        </div>
        <div id="post-preview" style="display:none;">
            <h3>Preview:</h3>
            <img id="post-preview-img" src="" alt="Preview image" />
            <br><br>
        </div>
        <div id="post-preview-err" style="display:none;">
            <p>Invalid Image URL</p>
        </div>
        <div class="form-group">
            <button class="button" type="submit">Post</button>
        </div>
    </form>
    <% if @finstagram_post.errors.full_messages.length() > 0 %>
    <span style="color: #f00;"><p>Post error:</p>
    <ul class="errors">
        <% @finstagram_post.errors.full_messages.each do |m| %>
            <li><%= m %></li>
        <% end %>
    </ul>
    </span>
    <% end %>

</main>