<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,700&display=swap">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
        <link rel="stylesheet" type="text/css" href="/stylesheets/lib.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <title>Finstagram</title>
    </head>
    <body>
        <header>
            <header-content>
                <h1><a class="header-logo" href="/">Finstagram</a></h1>
                <div class="login-info">
                    <% if current_user %>
                        Hello, <%= current_user.username %>                
                        <div class="break"></div>
                        <a href="/logout">Logout</a>
                    <% else %>
                        <a href="/login">Log In</a>
                        <div class="break"></div>
                        <a href="/signup">Sign Up</a>
                    <% end %>
                </div>
            </header-content>
        </header>
        <%= yield %>
    </body>
</html>